<li>@Html.ActionLink("Home", "Index", "Home")</li>
<li>@Html.ActionLink("Roles", "Index", "Role")</li>
<li>@Html.ActionLink("Create Role", "Create", "Role")</li>
<li>@Html.ActionLink("Assign Role", "RegisterRole", "Account")</li>
<li>@Html.ActionLink("Delete Role", "Delete", "Role")</li>
<li>@Html.ActionLink("Admin", "Index", "Admin")</li>
