<li>@Html.ActionLink("Home", "Index", "Home")</li>
<li>@Html.ActionLink("About", "About", "Home")</li>
<li>@Html.ActionLink("Contact", "Contact", "Home")</li>
<li>@Html.ActionLink("View Roles", "Index", "Role")</li>
<li>@Html.ActionLink("Create Role", "Create", "Role")</li>
<li>@Html.ActionLink("Assign Role", "RegisterRole", "Account")</li>

<li>@Html.ActionLink("Admin", "Index", "Admin")</li>
